[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue<%cE>%Creset' --abbrev-commit --date=relative
	wdiff = diff --color-words
[color]
	ui = auto
[core]
	editor = /usr/bin/vim
[init]
	defaultBranch = main
[push]
	default = simple
[user]
	name = László Koncz
	email = konlaasz@gmail.com
