!
! ~/.Xresources
!
! vim:fdm=marker

!{{{ Include
#include ".xrdb/look-zenburn.xrdb"
#include ".xrdb/urxvt.xrdb"
!}}}

!{{{ Xft
Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.rgba:       rgb
!}}}

!{{{ Xcursor
Xcursor.size:  16
!}}}

!{{{ URxvt
! see: https://wiki.archlinux.org/index.php/Rxvt-unicode#Creating_.7E.2F.Xresources
URxvt.geometry:         80x16
URxvt.scrollBar:        false
URxvt.urgentOnBell:     true
URxvt.reverseVideo:     false
URxvt.saveLines:        20000

URxvt.font:             xft:Hack:style=Regular:pixelsize=13
URxvt.boldFont:         xft:Hack:style=Bold:pixelsize=13
URxvt.italicFont:       xft:Hack:style=Italic:pixelsize=13
URxvt.boldItalicFont:   xft:Hack:style=BoldItalic:pixelsize=13
URxvt.letterSpace:      -1

! ISO 14755 mode
URxvt.iso14755: true
! keycap picture insert mode
URxvt.iso14755_52: false

! perl extensions
URxvt.perl-ext-common:      default,clipboard,eval,keyboard-select,url-select
! If true, PRIMARY overwrites clipboard
URxvt.clipboard.autocopy:   true
! copy and paste
URxvt.keysym.C-M-c:         eval:selection_to_clipboard
URxvt.keysym.C-M-v:         eval:paste_clipboard
! urxvt-perls/clipboard
URxvt.keysym.C-M-b:         perl:clipboard:paste_escaped
! urxvt-perls/keyboard-select
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
! urxvt-perls/url-select
URxvt.keysym.M-u:           perl:url-select:select_next
! If true, selected URLs are copied to PRIMARY
URxvt.url-select.autocopy:  false
URvxt.url-select.button:    2
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: false
!}}}
