!
! ~/.Xresources
!
! vim:fdm=marker

!{{{ Xft
Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.rgba:       rgb
!}}}

!{{{ Xcursor
Xcursor.size:  16
!}}}

!{{{ Sxiv
Sxiv.background:  #3A3A3A
Sxiv.foreground:  #DCDCCC
Sxiv.font:        xft:Hack:style=Regular:pixelsize=13
!}}}

!{{{ URxvt
! see: https://wiki.archlinux.org/index.php/Rxvt-unicode#Creating_.7E.2F.Xresources
URxvt.geometry:         80x16
urxvt*cursorBlink:      false
URxvt.scrollBar:        false
URxvt.urgentOnBell:     true
URxvt.visualBell:       true
URxvt.reverseVideo:     false
URxvt.saveLines:        20000

URxvt.font:             xft:Hack:style=Regular:pixelsize=13
URxvt.boldFont:         xft:Hack:style=Bold:pixelsize=13
URxvt.italicFont:       xft:Hack:style=Italic:pixelsize=13
URxvt.boldItalicFont:   xft:Hack:style=BoldItalic:pixelsize=13
URxvt.letterSpace:      -1

! ISO 14755 mode
URxvt.iso14755: true
! Keycap picture insert mode
URxvt.iso14755_52: false

! Perl extensions
URxvt.perl-ext-common:      default,-confirm-paste,-option-popup,-selection-popup,clipboard,eval,keyboard-select,resize-font,url-select
! If true, PRIMARY overwrites clipboard
URxvt.clipboard.autocopy:   true
! Copy and paste
URxvt.keysym.C-M-c:         eval:selection_to_clipboard
URxvt.keysym.C-M-v:         eval:paste_clipboard
! urxvt-perls/clipboard
URxvt.keysym.C-M-b:         perl:clipboard:paste_escaped
! urxvt-perls/keyboard-select
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
! urxvt-perls/url-select
URxvt.keysym.M-u:           perl:url-select:select_next
! If true, selected URLs are copied to PRIMARY
URxvt.url-select.autocopy:  false
URvxt.url-select.button:    2
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: false
! resize-font
URxvt.resize-font.step:     1
URxvt.keysym.C-equal:       resize-font:bigger
URxvt.keysym.C-minus:       resize-font:smaller
URxvt.keysym.C-0:           resize-font:reset
URxvt.keysym.C-slash:       resize-font:show

! Colors
URxvt*cursorColor:             #DCDCCC
URxvt*foreground:              #DCDCCC
URxvt*background:              #3A3A3A
URxvt*pointerColor:            #DCDCCC
URxvt*pointerColorBackground:  #3A3A3A

URxvt*colorBD:   #FFFFFF
URxvt*colorIT:   #FFFFFF
URxvt*colorUL:   #FFFFFF

! Black
URxvt*color0:    #1C1C1C
! Dark red
URxvt*color1:    #CF8383
! Dark green
URxvt*color2:    #60B48A
! Dark yellow
URxvt*color3:    #FFD7A7
! Dark blue
URxvt*color4:    #6C6C9C
! Dark magenta
URxvt*color5:    #DC8CC3
! Dark cyan
URxvt*color6:    #8CD0D3
! Light grey
URxvt*color7:    #D7D7C8
! Dark grey
URxvt*color8:    #8F8F8F
! Light red
URxvt*color9:    #EF9F9F
! Light green
URxvt*color10:   #C3BF9F
! Light yellow
URxvt*color11:   #EFEFAF
! Light blue
URxvt*color12:   #94BFF3
! Light magenta
URxvt*color13:   #EC93D3
! Light cyan
URxvt*color14:   #93E0E3
! White
URxvt*color15:   #FFFFFF
!}}}
